<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    {% block styles %}{% endblock %}  <!-- Block for additional styles -->
    <title>Women's Safety Project</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Women's Safety</a></li>
                <li><a href="/apps">Safety Apps & Resources</a></li>
                <li><a href="/band">Safety Band</a></li>
                <li><a href="/guides">Guides & Safety Tips</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Women's Safety Project</p>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block scripts %}{% endblock %}  <!-- Block for additional scripts -->
</html>
